* {
    padding :0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    transition: 300ms ease-in-out;
}
body {
    font-size: 1rem;
    background-color: rgb(207, 225, 241);
}
header {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    width: 100%;
    max-height: 3.3rem;
    min-height: 3.125rem;
    border-bottom: 1px solid black;
    background-color: rgb(245, 250, 250);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: #3C3C3C;
    padding: 1rem;
    font-size: 1.2rem;
    align-items: center;
    box-shadow: 0 0 10px rgb(123, 123, 123);
}

.main-page:hover > svg{
    height: 2rem;
    width: 2rem;
}

.account-area {
    width: 85rem;
    height: 35rem;
    margin: 2rem auto;
    background-color: rgba(255, 255, 255, 0.949);
    border-radius: 1rem;
    padding: 1rem 0;
    padding-top:0;
    border: 1px solid rgb(122, 121, 121);
    margin-bottom: 0
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    align-items: center;
}
.nav-bar > div {
    text-align: center;
    border-bottom: 2px solid  rgba(70, 69, 69, 0.989);
    padding-bottom: 1rem;
}
.href-room{
    height: 3rem;
    justify-content: center;
    padding-top:1rem;
    transition: 300ms ease-in-out;
}
.href-room:hover{
    background-color: rgba(199, 198, 198, 0.949);
}
.nav-bar :nth-child(3):hover {
    border-top-right-radius: 1rem;
}
.nav-bar :nth-child(1):hover {
    border-top-left-radius: 1rem;
}
.nav-bar :nth-child(2) {
    border-right: 0.6px solid gray;
    border-left: 0.6px solid gray;
}
.page {
    text-align: center;
    text-decoration: none;
    color: rgba(70, 69, 69, 0.989);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
}
.current-page {
    color: rgb(79, 113, 251)
}
    
.href-room:has(.current-page) {
    border-bottom: 2px solid  rgba(43, 89, 255, 0.989);
}
.account-info{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 30rem;
    gap: 1rem;
}
.avatar-container{
    align-self: center;
}
.avatar-frame {
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    margin: auto 0;
    margin-bottom: 2rem;
    justify-self: center;
    object-fit: cover;
}
.avatar {
    width: 100%;
    object-fit: cover;

    height: 100%;
    border-radius: 100%;
}
.avatar-selection:hover {
    cursor: pointer;
}
.avatar-frame:has(.avatar-selection:hover) {
    background-color:black;
}
.avatar-guide {
    text-align: center;
    color:#3C3C3C
}
.info-container {
    border-left: 2px solid rgb(202, 202, 202);
    padding-left:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.info-container >div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.info-container >div>div {
    display: flex;
    flex-direction: row;
    gap: 1rem
}

h3 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.7rem;
    align-self: center;
}
.user-info{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 3rem;
    border-bottom: 1px solid grey;
}
.adjust-btn{
    height: fit-content;
    width: fit-content;
}
.info, .total{
    color: gray;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    align-self: center;
    font-size: 2rem;
    max-width: 30rem;
    overflow-x: hidden;
}
.age {
    max-width: 5rem;
}
.input-data{
    border-radius: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.356);
    padding:0.3rem;
    display:none;
}
.input-name{
    width: 40rem;
}
.adjust-btn,.finish-btn{
    font-size: 1.4rem;
    position: absolute;
    right: 8rem;
    padding: 0 1rem;
    margin-top: 0.4rem;
    border-radius: 0.4rem;
}
.change-password-btn {
    font-size: 1.4rem;
    position: absolute;
    right: 18rem;
    padding: 0 1rem;
    margin-top: 0.4rem;
    border-radius: 0.4rem;
    border: 1px solid rgb(99, 100, 99);
    background-color: rgb(248, 248, 248);
    transition: 300ms ease-in-out;
}
.change-password-btn:hover{
    background-color: rgb(199, 197, 197);
    cursor: pointer;
}
.log-out-btn {
    font-size: 1.4rem;
    position: absolute;
    right: 31.7rem;
    padding: 0 1rem;
    margin-top: 0.4rem;
    border-radius: 0.4rem;
    border: 1px solid rgb(99, 100, 99);
    background-color: rgb(255, 0, 0);
    transition: 300ms ease-in-out;
    color: white
}
.log-out-btn:hover {
    cursor: pointer;
    background-color: rgb(179, 0, 0);
}
.finish-btn{
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(99, 100, 99);
    transition: 300ms ease-in-out;
    display: none;
}
.finish-btn:hover{
    background-color: rgb(199, 197, 197);
    cursor: pointer;
}
.adjust-btn {
    background-color: #ffffff;
    transition: 300ms ease-in-out;
    border: 1px solid grey;
}
.adjust-btn:hover {
    cursor: pointer;
    background-color: #e2e2e2;
}
.recheck{
    height: 20rem;
    width: 30rem;
    background-color: #ffffff;
    position: fixed;
    border: 1px solid grey;
    top: -50%;
    left: 50%;
    padding: 3rem;
    transform: translate3d(-50%,-50%,0);
    text-align: center;
    font-size: 3rem;
    border-radius: 2rem;
    color: rgb(40, 40, 40);
    font-family:Arial, Helvetica, sans-serif;
    transition: 300ms ease-in-out;
}
.btn-recheck{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn{
    background-color: inherit;
    border: none;
    margin-top: 3rem;
    font-size: 1.4rem;
    color: #3C3C3C;
    transition: 300ms ease-in-out;
}

.btn:hover{
    color: rgb(53, 53, 255);
    cursor: pointer;
}
.avatar-guide {
    margin-left: 1rem;
}
.notification-error {
    color: red;
    align-self: center;
}
.change-password-area {
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    background-color: #ffffff;
    padding: 3rem;
    width: fit-content;
    font-size: 1.5rem;
    border: 1px solid gray;
    border-radius: 1rem;
    transition: 300ms ease-in-out;
}
.change-password-area > div {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    gap: 1rem
}
.change-password-area > div > input {
    border-radius: 0.4rem;
    padding: 0.4rem;
    border: 1px solid gray;
    transition: 100ms ease-in-out;
}
.password-changing-anouncement {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.p-btn {
    float: right;
    font-size: 1.4rem;
    margin-right: 1rem;
    background-color: #ffffff;
    padding: 0.2rem;
    border-radius: 0.4rem;
    transition: 300ms ease-in-out;
}

.reset-password{
    border: 2px solid rgb(56, 0, 0) 
}
.confirm-change{
    border: 2px solid rgb(0, 65, 13)
}
.reset-password:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.348);
}
.confirm-change:hover{
    cursor: pointer;
    background-color: rgba(1, 255, 1, 0.326);
}
.close-p-area{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    right: -0.7rem;
    top: -1.4rem;
    font-weight: bold;
    font-size: 3rem;
}
.close-p-area:hover{
    cursor: pointer;
    color: red;
}
.notification-error-for-password {
    color: red;
    font-size: 1rem;
}