* {
    padding :0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    transition: 300ms ease-in-out;
}
body {
    font-size: 1rem;
    background-color: rgb(207, 225, 241);
}
header {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    width: 100%;
    max-height: 3.3rem;
    min-height: 3.125rem;
    border-bottom: 1px solid black;
    background-color: rgb(245, 250, 250);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: #3C3C3C;
    padding: 1rem;
    font-size: 1.2rem;
    align-items: center;
    box-shadow: 0 0 10px rgb(123, 123, 123);
}
.settings-btn{
    border: none;
    background-color: inherit;
    max-height: 1.875rem;
    position: absolute;
    right: 1rem;
    transition: 300ms ease-in-out;
    
}
.main-page:hover > svg{
    height: 2rem;
    width: 2rem;
}
.settings-btn:hover{
    cursor: pointer;
    rotate: 180deg;
}
.settings-btn:hover{
    cursor: pointer;
}
.settings-container{
    position: fixed;
    top:-100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(244, 254, 254);
    width: 26rem;
    height: 26rem;
    z-index: 3;
    padding: 2rem;
    transition: 300ms ease-in-out;
}
.interaction-close{
    background-color: rgba(0, 0, 0, 0.633);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    top:-100%;
    right:0;
    transition: 300ms ease-in-out;
}
.close-settings{
    background-color: inherit;
    border: none;
    position: absolute;
    top:0;
    right: 0
}
.close-settings:hover{
    cursor: pointer;
}
.close-settings:hover > svg {
    fill: red
}
.tools-box{
    display: inline-block;
    width: 14rem;
    height: 100vh;
    background-color: azure;
    border-right: 1px solid black;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 300ms ease-in-out;
    overflow-x: hidden;
}
.tool{
    width: 14rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #434343;
    gap:0.5rem;
    padding: 0.3rem;
    transition: 300ms ease-in-out;
}
.tool:hover{
    background-color: rgb(186, 235, 235);
    color: black;
    cursor: pointer;
}
.tool > p {
    font-size: 1.5rem;
}
.tool > svg {
    fill: #727171;
    height: 2.5rem;
    width: 2.5rem;
}
.tool-btn{
    background-color: inherit;
    border: none;
}

.adjust-box{
    position: absolute;
    top: 3rem;
    left: 14.5rem;
    transition: 300ms ease-in-out;
    rotate: 180deg;
}
.adjust-box:hover{
    cursor: pointer;
}
.tools-box:has(#open-close:checked) {
    width: 3rem;
    overflow-x: hidden;
}
#open-close:checked~.adjust-box {
    left: 3rem;
    rotate: 360deg;
}
.tools-box:has(#open-close:checked)~.board-container{
    left: 11rem;
}
.board-container {
    display: inline-block;
    position: absolute;
    top: 5rem;
    left: 16rem;
    height: 37rem;
    width: 77rem;
    background-image: url("../picture/background-title.jpg");
    background-size: contain;
    border: 15px solid rgb(97, 56, 2);
}
/* .lock-location {
    position: relative;
    top: -1.5rem;
    left: 0;
    z-index: 0;
} */